Setup:
  input_path: '/vols/cms/lcr119/offline/HiggsCP/data/prod_oct/ShuffleMerge/et'
  model_outputs: 'XGB_Models/prod_oct/et'
  model_dir_name: 'model_et'

param: {
        'objective': 'multi:softmax',
        'n_estimators': 103,
        'lambda': 2.1067047624069332e-08,
        'subsample': 0.848272604783627,
        'colsample_bytree': 0.649327533924659,
        'learning_rate': 0.11043821766809206,
        'max_depth': 7,
        'min_child_weight': 4
        }

Features:
  train: ['pt_1', 'pt_2', 'abs_eta_1',  # individual 4-vectors
          'met_pt','met_dphi_1', 'met_dphi_2', # met information
          'dR', 'dphi', 'pt_tt', 'm_vis', 'pt_vis', 'FastMTT_mass', # pair quantities
          'mt_1', 'mt_2', 'mt_lep', 'mt_tot', # transverse masses
          'jpt_1', 'jpt_2', 'jeta_1', 'jeta_2', # individual jets
          'mjj', 'jdeta', 'dijetpt', # dijet quantities
          'n_jets'] # global jet information
  weight: 'class_weight'
  truth: 'class_label'
