Params:
  Luminosity: 7980.4
Process:
  DYto2Tau:
    DYto2Tau_MLL_50_0J_amcatnloFXFX:
      n_eff: 31651962
      filter_efficiency: 1.0
      x_sec: 1664.6841730883225
    DYto2Tau_MLL_50_1J_amcatnloFXFX:
      n_eff: 26576552
      filter_efficiency: 1.0
      x_sec: 316.2403378778898
    DYto2Tau_MLL_50_2J_amcatnloFXFX:
      n_eff: 32763798
      filter_efficiency: 1.0
      x_sec: 116.47203023117962
  DYto2L:
    DYto2L_M_50_0J_amcatnloFXFX:
      n_eff: 115297314
      filter_efficiency: 1.0
      x_sec: 6282.6
    DYto2L_M_50_1J_amcatnloFXFX:
      n_eff: 115297314
      filter_efficiency: 1.0
      x_sec: 6282.6
    DYto2L_M_50_2J_amcatnloFXFX:
      n_eff: 115297314
      filter_efficiency: 1.0
      x_sec: 6282.6
    DYto2L_M_50_amcatnloFXFX:
      n_eff: 115297314
      filter_efficiency: 1.0
      x_sec: 6282.6
    DYto2L_M_50_amcatnloFXFX_ext1:
      n_eff: 115297314
      filter_efficiency: 1.0
      x_sec: 6282.6
  Diboson:
    WW:
      filter_eff: 1.0
      n_eff: 15405496
      x_sec: 122.27052
    WZ:
      filter_eff: 1.0
      n_eff: 7479528
      x_sec: 41.1474
    ZZ:
      filter_eff: 1.0
      n_eff: 1181750
      x_sec: 19.431
  Electron_DATA:
    EGamma_Run2022C:
      extrapolation_factor: 1.13
    EGamma_Run2022D:
      extrapolation_factor: 1.13
  Muon_DATA:
    Muon_Run2022C:
      extrapolation_factor: 1.12
    Muon_Run2022D:
      extrapolation_factor: 1.12
    SingleMuon_Run2022C:
      extrapolation_factor: 1.12
  ST:
    ST_tW_antitop_2L2Nu:
      filter_eff: 1.0
      n_eff: 4763261
      x_sec: 3.8
    ST_tW_antitop_2L2Nu_ext1:
      filter_eff: 1.0
      n_eff: 4763261
      x_sec: 3.8
    ST_tW_antitop_LNu2Q:
      filter_eff: 1.0
      n_eff: 9182711
      x_sec: 15.9
    ST_tW_antitop_LNu2Q_ext1:
      filter_eff: 1.0
      n_eff: 9182711
      x_sec: 15.9
    ST_tW_top_2L2Nu:
      filter_eff: 1.0
      n_eff: 4886868
      x_sec: 3.8
    ST_tW_top_2L2Nu_ext1:
      filter_eff: 1.0
      n_eff: 4886868
      x_sec: 3.8
    ST_tW_top_LNu2Q:
      filter_eff: 1.0
      n_eff: 9643983
      x_sec: 15.8
    ST_tW_top_LNu2Q_ext1:
      filter_eff: 1.0
      n_eff: 9643983
      x_sec: 15.8
    ST_t_channel_antitop_4f_InclusiveDecays:
      filter_eff: 1.0
      n_eff: 1325389
      x_sec: 75.47
    ST_t_channel_top_4f_InclusiveDecays:
      filter_eff: 1.0
      n_eff: 2737505
      x_sec: 123.8
  TTBar:
    TTto2L2Nu:
      filter_eff: 1.0
      n_eff: 47500385
      x_sec: 98.04387875606875
    TTto2L2Nu_ext1:
      filter_eff: 1.0
      n_eff: 47500385
      x_sec: 98.04387875606875
    TTtoLNu2Q:
      filter_eff: 1.0
      n_eff: 155346152
      x_sec: 405.74895682981236
    TTtoLNu2Q_ext1:
      filter_eff: 1.0
      n_eff: 155346152
      x_sec: 405.74895682981236
  Tau_DATA:
    Tau_Run2022C:
      extrapolation_factor: 1.27
    Tau_Run2022D:
      extrapolation_factor: 1.27
  VBFH:
    VBFHToTauTau_UncorrelatedDecay_Filtered:
      filter_eff: 0.4091
      n_eff: 5082505
      x_sec: 0.2558
  VH:
    WminusHToTauTau_UncorrelatedDecay_Filtered:
      filter_eff: 0.3944
      n_eff: 431839
      x_sec: 0.03561
    WplusHToTauTau_UncorrelatedDecay_Filtered:
      filter_eff: 0.3743
      n_eff: 716466
      x_sec: 0.05575
    ZHToTauTau_UncorrelatedDecay_Filtered:
      filter_eff: 0.3933
      n_eff: 613598
      x_sec: 0.0592
  WJets:
    WtoLNu_1J_madgraphMLM:
      filter_eff: 1.0
      n_eff: 183585526
      x_sec: 63425.09999999999
    WtoLNu_2J_madgraphMLM:
      filter_eff: 1.0
      n_eff: 183585526
      x_sec: 63425.09999999999
    WtoLNu_3J_madgraphMLM:
      filter_eff: 1.0
      n_eff: 183585526
      x_sec: 63425.09999999999
    WtoLNu_4J_madgraphMLM:
      filter_eff: 1.0
      n_eff: 183585526
      x_sec: 63425.09999999999
    WtoLNu_madgraphMLM:
      filter_eff: 1.0
      n_eff: 183585526
      x_sec: 63425.09999999999
    WtoLNu_madgraphMLM_ext1:
      filter_eff: 1.0
      n_eff: 183585526
      x_sec: 63425.09999999999
  ggH:
    GluGluHTo2Tau_UncorrelatedDecay_CPodd_Filtered_ProdAndDecay:
      filter_eff: 0.3848
      n_eff: 20313722
      x_sec: 3.2759
    GluGluHTo2Tau_UncorrelatedDecay_MM_Filtered_ProdAndDecay:
      filter_eff: 0.3848
      n_eff: 20313722
      x_sec: 3.2759
    GluGluHTo2Tau_UncorrelatedDecay_SM_Filtered_ProdAndDecay:
      filter_eff: 0.3847
      n_eff: 20313722
      x_sec: 3.2759
